/*========================= [word 单词样式] ==================*/
.word__word {
  font-size: 14px;
  color: #333;
  font-weight: bold;
}
.word__exp {
  font-size: 16px;
  color: #666;
}
.recite-word-card {
  margin-bottom: 20px;
  text-align: left;
}
.page-recite__add-btn {
  margin-right: 15px;
}